<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body class = "container">
<header>
    <h1> Home Page || Les Etudiants</h1>
    <nav>
        <div>
            <a th:href="@{/list}"> Liste des étudiants</a>
        </div>
        <div>
            <a th:href="@{/add}">Inscription </a>
        </div>
        <div>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <form th:action="@{/search}"  method="get" class="d-flex" role="search" >
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="lastName">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>

    </nav>
</header>

</body>
</html>