<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des étudiants</title>
    <span th:replace="~{homePage::bootstrapAndCssImports}"></span>
</head>
<body class = "container">
<header class="p-3 mb-2 bg-danger-subtle text-danger-emphasis border-end">
    <h1 class="text-danger mx-auto p-4"> Home Page || Les Etudiants</h1>
    <nav class="mx-auto p-4 d-flex flex-row-reverse">
    <div>
        <a th:href="@{/}" class="text-warning-emphasis text-decoration-none border-end p-2 fw-bolder text-uppercase"> Home Page</a>
    </div>
    </nav>
</header>
<main class="p-3 mb-2 bg-body-secondary p-3 mb-2 bg-body-secondary">
<div>
    <ul th:if="${!studentsList.isEmpty()}">
        <li th:each="s : ${studentsList}">
            <p> Nom : <span th:text="${s.getFirstName()}">

            </span>
             Prénom : <span th:text="${s.getLastName()}"></span>

            </p>
            <a th:href="@{/detail/{id}(id=${s.getId()})}" class="btn btn-danger text-decoration-none">Details</a>
            <a th:href="@{/update/{id}(id=${s.getId()})}" class="btn btn-danger text-decoration-none">Modifier</a>
            <a th:href="@{/delete/{id}(id=${s.getId()})}" class="btn btn-danger text-decoration-none">Supprimer</a>

        </li>


    </ul>

</div>
</main>

</body>
</html>