<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des étudiants</title>
    <span th:replace="~{homePage::bootstrapAndCssImports}"></span>
</head>
<body class = "container">
<header class="p-3 mb-2 bg-danger-subtle text-danger-emphasis border-end">
    <span th:replace="~{homePage::title}"></span>
    <th:block th:fragment="nav">
    <nav class="mx-auto p-4 d-flex flex-row-reverse border-bottom border-secondary">
    <div>
        <a th:href="@{/}" class="text-warning-emphasis text-decoration-none border-end p-2 fw-bolder text-uppercase"> Home Page</a>
    </div>
    </nav>
    </th:block>
</header>
<main >
<div class="position-relative">
    <ul th:if="${!studentsList.isEmpty()}" class="list-group border border-0">
        <li th:each="s : ${studentsList}" class="list-group-item border border-0 ">
            <p> Nom : <span th:text="${s.getFirstName()}">

            </span>
             Prénom : <span th:text="${s.getLastName()}"></span>

            </p>
            <div class="position-absolute top-50 end-0 translate-middle-y">

            <a th:href="@{/detail/{id}(id=${s.getId()})}" class="btn btn-danger text-decoration-none " >Details</a>
            <a th:href="@{/update/{id}(id=${s.getId()})}" class="btn btn-danger text-decoration-none">Modifier</a>
            <a th:href="@{/delete/{id}(id=${s.getId()})}" class="btn btn-danger text-decoration-none">Supprimer</a>
            </div>
        </li>


    </ul>

</div>
</main>

</body>
</html>