<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <span th:replace="~{homePage::bootstrapAndCssImports}"></span>
</head>
<body class = "container">
<header class="p-3 mb-2 bg-danger-subtle text-danger-emphasis border-end">
    <span th:replace="~{homePage::title}"></span>
    <span th:replace="~{listOfStudents::nav}"></span>
</header>
<main >
    <form th:action="@{/add}" method="post"  th:object="${student}" class="border border-danger rounded mx-auto p-4">
        <input th:field="*{id}" hidden>
        <div class="mb-3">
            <label for="lastName" class="form-label fst-italic">Nom de l'étudiant</label>
            <input type="text" class="form-control" id="lastName" name="lastName" th:field="*{lastName}">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>

        </div>
        <div class="mb-3 ">
            <label for="firstName" class="form-label fst-italic">Prénom de l'étudiant</label>
            <input type="text" class="form-control" id="firstName" name="firstName" th:field="*{firstName}">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>
        <div class="mb-3 ">
            <label for="age" class="form-label fst-italic">Age de l'étudiant</label>
            <input type="text" class="form-control" id="age" name="age" th:field="*{age}">
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
        </div>
        <div class="mb-3 ">
            <label for="email" class="form-label fst-italic">Email de l'étudiant</label>
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="d-flex flex-row mb-3">
        <button type="submit" class="btn btn-outline-danger p-2">Envoyer</button>
        </div>
    </form>
</main>

</body>
</html>