<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultat recherche d'un étudiant</title>
</head>
<body class = "container">
<header>
    <h1> Home Page || Les Etudiants</h1>
</header>

<main>
    <p>Nom : <span th:text="${student.getLastName()}"></span></p>
    <p>Prenom : <span th:text="${student.getFirstName()}"></span></p>
    <p>Age : <span th:text="${student.getAge()}"></span></p>
    <p>Email : <span th:text="${student.getEmail()}"></span></p>


</main>
</body>
</html>